In [6]:
!pip install pandas-summary

Collecting pandas-summary
  Downloading https://files.pythonhosted.org/packages/f5/20/865d4785f86e86f7ad7ebd52fc14810ef59ef13cd959f1363a2615d1c665/pandas_summary-0.0.7-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandas-summary) (1.18.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandas-summary) (1.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pandas-summary) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandas-summary) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->pandas-summary) (1.15.0)
Installing collected packages: pandas-summary
Successfully installed pandas-summary-0.0.7

In [7]:
import pandas as pd
#  pip install pandas_summary
from pandas_summary import DataFrameSummary

# Competencia de Kaggle

[ir a Kaggle](https://www.kaggle.com/c/rossmann-store-sales/data)

[3er puesto](https://github.com/entron/entity-embedding-rossmann)

# Métrica de la competencia

$$
\textrm{RMSPE} = \sqrt{\frac{1}{n} \sum_{i=1}^{n} \left(\frac{\hat{y}_i - y_i}{y_i}\right)^2}
$$

donde:

- $y_i$ las ventas de un día particular de un store
- $\hat{y}_i$ ventas estimadas por el modelo
- $n$ es el número de predicciones realizadas

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Importamos dataset

La competencia permitía agregar datos externos para realizar la predicción

The following tables are available in the datasets:

| Archivo      | Descripción| Origen de Datos|
|--------------|--------------------------------------------------------------------|--|
| train.csv        | training set: información del store día a día, ventas, clientes, si es feriado, etc | Kaggle |
| store.csv       | Información general del store, por ejemplo datos del competidor | Kaggle |
| store_states.csv | Mapea de store a estado - Dato externo| Externos |
| state_names.csv  | Mapea estados a acronimo de estado | Externos |
| googletrend.csv  | Tendencias por semana - Dato externo| Externos|
| weather.csv      | Condiciones meteorológicas por día | Externos|

In [14]:
PATH = '/content/drive/My Drive/Colab Notebooks/kaggle-rossmann-master/rossmann/rossmann/'

In [15]:
table_names = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather']
train, store, store_states, state_names, googletrend, weather = [pd.read_csv(PATH + fname+'.csv', 
                                                                             low_memory=False) for fname in table_names]

In [16]:
display(train.head())
display(DataFrameSummary(train).summary())

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

                    Store    DayOfWeek  ... StateHoliday SchoolHoliday
count         1.01721e+06  1.01721e+06  ...          NaN   1.01721e+06
mean               558.43      3.99834  ...          NaN      0.178647
std               321.909      1.99739  ...          NaN      0.383056
min                     1            1  ...          NaN             0
25%                   280            2  ...          NaN             0
50%                   558            4  ...          NaN             0
75%                   838            6  ...          NaN             0
max                  1115            7  ...          NaN             1
counts            1017209      1017209  ...      1017209       1017209
uniques              1115            7  ...            4             2
missing                 0            0  ...            0             0
missing_perc           0%           0%  ...           0%            0%
types             numeric      numeric  ...  categorical          bool

[13 rows x 9 columns]

- Mirar counts que todos tienen la misma cantidad
- Ninguno tiene missing
- Los tipos tambien es interesante observar

In [17]:
train['StateHoliday'].value_counts()

0    986159
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [18]:
display(store.head())
display(DataFrameSummary(store).summary())

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

                Store    StoreType  ... Promo2SinceYear PromoInterval
count            1115          NaN  ...             571           NaN
mean              558          NaN  ...         2011.76           NaN
std           322.017          NaN  ...         1.67494           NaN
min                 1          NaN  ...            2009           NaN
25%             279.5          NaN  ...            2011           NaN
50%               558          NaN  ...            2012           NaN
75%             836.5          NaN  ...            2013           NaN
max              1115          NaN  ...            2015           NaN
counts           1115         1115  ...             571           571
uniques          1115            4  ...               7             3
missing             0            0  ...             544           544
missing_perc       0%           0%  ...          48.79%        48.79%
types         numeric  categorical  ...         numeric   categorical

[13 rows x 10 columns]

Descripción de algunas columnas que quizas no sean tan claras:

- `Customers`: La cantidad de clientes por día
- `Open`: Indicador si el store estaba abierto o cerrado: 0 = closed, 1 = open
- `StateHoliday`: Indica feriado en ese estado. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
- `SchoolHoliday`: Inidica si el store fue afectado por el feriado escolar
- `StoreType`: Tipos de store: a, b, c, d
- `Assortment`: Describe el nivel de surtido de la tienda: a = basic, b = extra, c = extended
- `CompetitionDistance`: Distancia en metros al competidor
- `CompetitionOpenSince[Month/Year]`: Fecha en que abrío la competencia
- `Promo`: Si el store esta corriendo una promoción ese día
- `Promo2`: Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
- `Promo2Since[Year/Week]`: describes the year and calendar week when the store started participating in Promo2
- `PromoInterval`: describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

In [19]:
store['StoreType'].value_counts()

a    602
d    348
c    148
b     17
Name: StoreType, dtype: int64

In [20]:
store['PromoInterval'].value_counts()

Jan,Apr,Jul,Oct     335
Feb,May,Aug,Nov     130
Mar,Jun,Sept,Dec    106
Name: PromoInterval, dtype: int64

In [21]:
display(store_states.head(20))
display(DataFrameSummary(store_states).summary())

    Store  State
0       1     HE
1       2     TH
2       3     NW
3       4     BE
4       5     SN
5       6     SN
6       7     SH
7       8     SH
8       9     NW
9      10  HB,NI
10     11     SH
11     12     SH
12     13     BY
13     14     NW
14     15     SH
15     16     BW
16     17     TH
17     18     TH
18     19     NW
19     20     BY

                Store        State
count            1115          NaN
mean              558          NaN
std           322.017          NaN
min                 1          NaN
25%             279.5          NaN
50%               558          NaN
75%             836.5          NaN
max              1115          NaN
counts           1115         1115
uniques          1115           12
missing             0            0
missing_perc       0%           0%
types         numeric  categorical

In [22]:
display(state_names.head(20))
display(DataFrameSummary(state_names).summary())

                StateName  State
0       BadenWuerttemberg     BW
1                  Bayern     BY
2                  Berlin     BE
3             Brandenburg     BB
4                  Bremen     HB
5                 Hamburg     HH
6                  Hessen     HE
7   MecklenburgVorpommern     MV
8           Niedersachsen  HB,NI
9      NordrheinWestfalen     NW
10         RheinlandPfalz     RP
11               Saarland     SL
12                Sachsen     SN
13          SachsenAnhalt     ST
14      SchleswigHolstein     SH
15             Thueringen     TH

                       StateName   State
count                         16      16
unique                        16      16
top           NordrheinWestfalen      BY
freq                           1       1
counts                        16      16
uniques                       16      16
missing                        0       0
missing_perc                  0%      0%
types                     unique  unique

In [23]:
display(googletrend)
display(DataFrameSummary(googletrend).summary())

                file                     week  trend
0     Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1     Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2     Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3     Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4     Rossmann_DE_SN  2012-12-30 - 2013-01-05     67
...              ...                      ...    ...
2067  Rossmann_DE_SL  2015-08-30 - 2015-09-05     95
2068  Rossmann_DE_SL  2015-09-06 - 2015-09-12     47
2069  Rossmann_DE_SL  2015-09-13 - 2015-09-19     80
2070  Rossmann_DE_SL  2015-09-20 - 2015-09-26     57
2071  Rossmann_DE_SL  2015-09-27 - 2015-10-03      0

[2072 rows x 3 columns]

                     file         week    trend
count                 NaN          NaN     2072
mean                  NaN          NaN  63.8142
std                   NaN          NaN  12.6502
min                   NaN          NaN        0
25%                   NaN          NaN       55
50%                   NaN          NaN       64
75%                   NaN          NaN       72
max                   NaN          NaN      100
counts               2072         2072     2072
uniques                14          148       68
missing                 0            0        0
missing_perc           0%           0%       0%
types         categorical  categorical  numeric

In [24]:
display(weather)
display(DataFrameSummary(weather[['Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'Precipitationmm']]).summary())

                     file        Date  ...             Events  WindDirDegrees
0      NordrheinWestfalen  2013-01-01  ...               Rain             215
1      NordrheinWestfalen  2013-01-02  ...               Rain             225
2      NordrheinWestfalen  2013-01-03  ...               Rain             240
3      NordrheinWestfalen  2013-01-04  ...               Rain             263
4      NordrheinWestfalen  2013-01-05  ...               Rain             268
...                   ...         ...  ...                ...             ...
15835            Saarland  2015-09-13  ...               Rain             113
15836            Saarland  2015-09-14  ...  Rain-Thunderstorm             213
15837            Saarland  2015-09-15  ...               Rain             193
15838            Saarland  2015-09-16  ...  Rain-Thunderstorm             147
15839            Saarland  2015-09-17  ...               Rain             202

[15840 rows x 24 columns]

             Max_TemperatureC Mean_TemperatureC  ... CloudCover Precipitationmm
count                   15840             15840  ...      14667           15840
mean                  14.6441            10.389  ...    5.55131        0.831718
std                   8.64601           7.37926  ...    1.68771         2.51351
min                       -11               -13  ...          0               0
25%                         8                 4  ...          5               0
50%                        15                11  ...          6               0
75%                        21                16  ...          7            0.25
max                        39                31  ...          8           58.93
counts                  15840             15840  ...      14667           15840
uniques                    51                45  ...          9              41
missing                     0                 0  ...       1173               0
missing_perc               0%                0%  ...      7.41%              0%
types                 numeric           numeric  ...    numeric         numeric

[13 rows x 10 columns]

In [25]:
weather.columns

Index(['file', 'Date', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees'],
      dtype='object')